In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dsltelecom.csv')
print(df)

     State  Account length  ...  Customer service calls  Churn
0       KS             128  ...                       1  False
1       OH             107  ...                       1  False
2       NJ             137  ...                       0  False
3       OH              84  ...                       2  False
4       OK              75  ...                       3  False
...    ...             ...  ...                     ...    ...
3328    AZ             192  ...                       2  False
3329    WV              68  ...                       3  False
3330    RI              28  ...                       2  False
3331    CT             184  ...                       2  False
3332    TN              74  ...                       0  False

[3333 rows x 20 columns]

In [ ]:
df.head(10)

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False
5    AL             118  ...                       0  False
6    MA             121  ...                       3  False
7    MO             147  ...                       0  False
8    LA             117  ...                       1  False
9    WV             141  ...                       0  False

[10 rows x 20 columns]

indexing and selection

In [ ]:
indexing=df[4:7]
indexing

  State  Account length  ...  Customer service calls  Churn
4    OK              75  ...                       3  False
5    AL             118  ...                       0  False
6    MA             121  ...                       3  False

[3 rows x 20 columns]

In [ ]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [ ]:
df['State']

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [ ]:
df[['State','Area code']]

     State  Area code
0       KS        415
1       OH        415
2       NJ        415
3       OH        408
4       OK        415
...    ...        ...
3328    AZ        415
3329    WV        415
3330    RI        510
3331    CT        510
3332    TN        415

[3333 rows x 2 columns]

In [9]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd

In [15]:
df = pd.read_csv('/content/drive/MyDrive/dsltelecom.csv')
print(df)

     State  Account length  ...  Customer service calls  Churn
0       KS             128  ...                       1  False
1       OH             107  ...                       1  False
2       NJ             137  ...                       0  False
3       OH              84  ...                       2  False
4       OK              75  ...                       3  False
...    ...             ...  ...                     ...    ...
3328    AZ             192  ...                       2  False
3329    WV              68  ...                       3  False
3330    RI              28  ...                       2  False
3331    CT             184  ...                       2  False
3332    TN              74  ...                       0  False

[3333 rows x 20 columns]

In [16]:
df.loc[2:6,['State','Account length']]

  State  Account length
2    NJ             137
3    OH              84
4    OK              75
5    AL             118
6    MA             121

In [17]:
df[0:2]

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False

[2 rows x 20 columns]

In [18]:
df['Total day charge'].mean()

30.562307230723093

In [19]:
df[df['Total day charge']>=30]

     State  Account length  ...  Customer service calls  Churn
0       KS             128  ...                       1  False
2       NJ             137  ...                       0  False
3       OH              84  ...                       2  False
5       AL             118  ...                       0  False
6       MA             121  ...                       3  False
...    ...             ...  ...                     ...    ...
3325    OH              78  ...                       2  False
3329    WV              68  ...                       3  False
3330    RI              28  ...                       2  False
3331    CT             184  ...                       2  False
3332    TN              74  ...                       0  False

[1735 rows x 20 columns]

In [20]:
df.sort_values('State')

     State  Account length  ...  Customer service calls  Churn
181     AK             126  ...                       5   True
550     AK             111  ...                       4   True
2929    AK              71  ...                       3  False
1260    AK              76  ...                       3  False
1803    AK             101  ...                       1  False
...    ...             ...  ...                     ...    ...
3258    WY             148  ...                       2  False
1265    WY              95  ...                       1  False
762     WY             161  ...                       1  False
1628    WY             131  ...                       1  False
609     WY             111  ...                       3  False

[3333 rows x 20 columns]

In [21]:
df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [22]:
df.dtypes['Account length']

dtype('int64')

In [23]:
df['Area code'].unique()

array([415, 408, 510])

 ***Data Type ***

In [24]:
datatype_of_Account_Length = df.dtypes['Account length']
datatype_of_Account_Length

dtype('int64')

Changing Data Type

In [25]:
df['Area code']= df['Area code'].astype(str);
after = df.dtypes
after

State                      object
Account length              int64
Area code                  object
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

**Quering** **Dataframe**

In [26]:
above_30=df.where(df['Total day calls']>=30)
above_30

     State  Account length  ... Customer service calls Churn
0       KS           128.0  ...                    1.0   0.0
1       OH           107.0  ...                    1.0   0.0
2       NJ           137.0  ...                    0.0   0.0
3       OH            84.0  ...                    2.0   0.0
4       OK            75.0  ...                    3.0   0.0
...    ...             ...  ...                    ...   ...
3328    AZ           192.0  ...                    2.0   0.0
3329    WV            68.0  ...                    3.0   0.0
3330    RI            28.0  ...                    2.0   0.0
3331    CT           184.0  ...                    2.0   0.0
3332    TN            74.0  ...                    0.0   0.0

[3333 rows x 20 columns]

**Count**

In [27]:
above_30['Total day calls'].count()

3331

**Grouping**

In [28]:
grouping = df.groupby('State')
grouping['Total day calls'].mean()

State
AK     95.269231
AL     99.100000
AR    102.145455
AZ    100.109375
CA    104.500000
CO     95.121212
CT     98.432432
DC    100.166667
DE     98.639344
FL    101.000000
GA    103.055556
HI    102.811321
IA    103.045455
ID    106.219178
IL    101.689655
IN    107.056338
KS    101.028571
KY    100.338983
LA    103.509804
MA    102.292308
MD     99.357143
ME     99.500000
MI    101.205479
MN     99.119048
MO     99.936508
MS    100.707692
MT     95.220588
NC    102.794118
ND    100.145161
NE     97.409836
NH     98.964286
NJ    100.102941
NM    102.241935
NV    101.424242
NY     98.240964
OH     99.628205
OK    100.262295
OR     95.730769
PA     98.644444
RI    100.430769
SC    102.466667
SD     94.816667
TN    101.452830
TX     99.986111
UT     98.958333
VA    105.363636
VT    100.328767
WA    101.196970
WI     96.679487
WV    103.783019
WY    102.220779
Name: Total day calls, dtype: float64

**Handling** **Null** **Vals**

In [29]:
df['State'].isnull().sum()

0

In [30]:
df.isnull()

      State  Account length  ...  Customer service calls  Churn
0     False           False  ...                   False  False
1     False           False  ...                   False  False
2     False           False  ...                   False  False
3     False           False  ...                   False  False
4     False           False  ...                   False  False
...     ...             ...  ...                     ...    ...
3328  False           False  ...                   False  False
3329  False           False  ...                   False  False
3330  False           False  ...                   False  False
3331  False           False  ...                   False  False
3332  False           False  ...                   False  False

[3333 rows x 20 columns]

In [31]:
Nf =pd.read_csv('/content/drive/MyDrive/Building_Permits.csv')
Nf

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       Permit Number  ...      Record ID
0       201505065519  ...  1380611233945
1       201604195146  ...  1420164406718
2       201605278609  ...  1424856504716
3       201611072166  ...  1443574295566
4       201611283529  ...   144548169992
...              ...  ...            ...
198895       M862628  ...  1489337276729
198896  201712055595  ...  1489462354993
198897       M863507  ...  1489539379952
198898       M863747  ...  1489608233656
198899       M864287  ...  1489796283803

[198900 rows x 43 columns]

In [32]:
Nf.isnull()

        Permit Number  Permit Type  ...  Location  Record ID
0               False        False  ...     False      False
1               False        False  ...     False      False
2               False        False  ...     False      False
3               False        False  ...     False      False
4               False        False  ...     False      False
...               ...          ...  ...       ...        ...
198895          False        False  ...      True      False
198896          False        False  ...      True      False
198897          False        False  ...      True      False
198898          False        False  ...      True      False
198899          False        False  ...      True      False

[198900 rows x 43 columns]

In [33]:
pd.isnull(Nf["Unit"])

0          True
1         False
2          True
3         False
4          True
          ...
198895     True
198896     True
198897     True
198898     True
198899     True
Name: Unit, Length: 198900, dtype: bool

In [34]:
Nf.fillna(0)

       Permit Number  ...      Record ID
0       201505065519  ...  1380611233945
1       201604195146  ...  1420164406718
2       201605278609  ...  1424856504716
3       201611072166  ...  1443574295566
4       201611283529  ...   144548169992
...              ...  ...            ...
198895       M862628  ...  1489337276729
198896  201712055595  ...  1489462354993
198897       M863507  ...  1489539379952
198898       M863747  ...  1489608233656
198899       M864287  ...  1489796283803

[198900 rows x 43 columns]

In [35]:
Nf.fillna(method ='pad')

       Permit Number  ...      Record ID
0       201505065519  ...  1380611233945
1       201604195146  ...  1420164406718
2       201605278609  ...  1424856504716
3       201611072166  ...  1443574295566
4       201611283529  ...   144548169992
...              ...  ...            ...
198895       M862628  ...  1489337276729
198896  201712055595  ...  1489462354993
198897       M863507  ...  1489539379952
198898       M863747  ...  1489608233656
198899       M864287  ...  1489796283803

[198900 rows x 43 columns]

In [36]:
Nf.fillna(method ='bfill')

       Permit Number  ...      Record ID
0       201505065519  ...  1380611233945
1       201604195146  ...  1420164406718
2       201605278609  ...  1424856504716
3       201611072166  ...  1443574295566
4       201611283529  ...   144548169992
...              ...  ...            ...
198895       M862628  ...  1489337276729
198896  201712055595  ...  1489462354993
198897       M863507  ...  1489539379952
198898       M863747  ...  1489608233656
198899       M864287  ...  1489796283803

[198900 rows x 43 columns]

In [37]:
replace_median = Nf['Unit'].median()
replace_median

0.0